In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("example.db")

In [3]:
c = conn.cursor()

In [4]:
import pandas as pd

In [9]:
df = pd.read_csv("./ccsv.csv",index_col=[0])

In [10]:
df.head()

        ID                Name  Season                 Last_ep    Aired on
0  1520211    The Walking Dead      10               The Tower  2020-04-05
1  2467372  Brooklyn Nine-Nine       7         Admiral Peralta  2020-04-02
2  3526078      Schitt's Creek       6            Happy Ending  2020-04-07
3  2861424      Rick and Morty       4  Rattlestar Ricklactica  2019-12-15
4  8531222                Dave       1            Talent Shows  2020-04-01

In [11]:
c.execute("CREATE TABLE eg(ID TEXT,Name TEXT, Season INTEGER,Last_ep TEXT,Aired_on TEXt)")

In [19]:
for index,row in df.iterrows():
    c.execute("INSERT INTO eg VALUES(?,?,?,?,?)",[row["ID"],row["Name"],row["Season"],row["Last_ep"],row["Aired on"]])
    conn.commit()

In [ ]:
c.execute()

In [21]:
for i in df.columns:
    print(i)

ID
Name
Season
Last_ep
Aired on

In [26]:
for i in df.dtypes:
    print(i)

int64
object
int64
object
object

In [1]:
import sqlite3
import pandas as pd

dbname = input("Enter name of Database:")
conn = sqlite3.connect(dbname)
c = conn.cursor()

path = input("Enter path of csv file:")
df = pd.read_csv(path,index_col = [0])

columns = df.columns

In [2]:
for i in range(len(columns)):
    if " " in columns[i]:
        columns[i] = columns[i].replace(" ","_")

In [3]:
types =[]
table = input("Enter name of table:")
for i in df.dtypes:
    if "int" in str(i):
        types.append("INTEGER")

    elif "float" in str(i):
        types.append("REAL")

    else :   
        types.append("TEXT")
        
execute_create ="CREATE TABLE "+ table + " ("

for i in range(len(types)-1):
    execute_create = execute_create + columns[i]+" " +types[i]+","

In [4]:
execute_create = execute_create+ columns[len(types)-1]+" "+types[len(types)-1]+")"
print(execute_create)

CREATE TABLE lool (ID INTEGER,Name TEXT,Season INTEGER,Last_ep TEXT,Airedon TEXT)

In [5]:
c.execute(execute_create)

OperationalError: table lool already exists

In [17]:
execute = "INSERT INTO "+table +" VALUES("
for index,row in df.iterrows():
    execute_insert = execute
    for i in range(len(columns)-1):
        if types[i] == "TEXT":
            execute_insert = execute_insert + "'"+str(row[columns[i]])+"'"+","
        else:
            execute_insert = execute_insert +str(row[columns[i]])+","
    execute_insert = execute_insert + str(row[columns[len(columns)-1]])+")"
    print(execute_insert)

INSERT INTO lool VALUES('The Walking Dead','The Tower',2020-04-05)
INSERT INTO lool VALUES('Brooklyn Nine-Nine','Admiral Peralta',2020-04-02)
INSERT INTO lool VALUES('Schitt's Creek','Happy Ending',2020-04-07)
INSERT INTO lool VALUES('Rick and Morty','Rattlestar Ricklactica',2019-12-15)
INSERT INTO lool VALUES('Dave','Talent Shows',2020-04-01)
INSERT INTO lool VALUES('Westworld','The Mother of Exiles',2020-04-05)
INSERT INTO lool VALUES('Better Call Saul','Bagman',2020-04-06)
INSERT INTO lool VALUES('Miracle Workers','Dark Ages: Moving Out Part 2',2020-03-31)